.App {
  /* text-align: center; */
  display: flex;
  font-family: 'IBM Plex Sana Thai Looped', sans-serif;
  /* background: linear-gradient(179deg, #176eb5, #d545d7); */

}

.nav-bar
{
   position: fixed;
   top: 0px;
   align-items: stretch;
}

.sidebar-container {
  height: 100vh;
  position: sticky;
  top: 0;
  left: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.sidebar {
  display: flex;
  width: 14rem;
  height: 90%;
  justify-content: start;
  align-items: start;
  flex-direction: column;
  padding: 15px;
  margin: 10px;
  background: rgba(255, 255, 255, 0.3);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(5.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.body-container {
  height: 100vh;
  position: sticky;
  top: 0;
  left: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.body {
  display: flex;
  width: 82vw;
  height: 90%;
  justify-content: start;
  align-items: start;
  flex-direction: column;
  padding: 15px;
  margin: 10px;
  background: rgba(255, 255, 255, 0.3);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(5.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.need-help {
  height: 30%;
  align-items: center;
  /* background: rgba(255, 255, 255, 0.3); */
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  width: 12rem;
  margin-top: 35px;
  border-radius: 5px;
  flex-direction: column;
  /* border-radius: 100%; */
  /* flex-direction: column; */
}

.help-button {
  margin-left: 40px;
  border-radius: 5px;
  background-color: black;
  color: white;
}

.help-icon {
  display: flex;
  align-items: center;
  margin-top: 10px;
  margin-left: 80px;
}

.line-icon {
  display: flex;
  align-self: flex-end;
  border-radius: 5px;
}

.profile {
  display: flex;
  width: 4rem;
  align-items: center;
  border-radius: 50%;
  margin-bottom: 1rem;
  align-self: center;

}

.profile>img {
  width: 100%;
  border-radius: 5px;
}

.groups {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.group {
  display: flex;
  flex-direction: column;
  width: 100%;
}






.body-container {
  flex: 1;
  /* background-color: blue; */
}








.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}